<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191013600140-gf2mo2242cif36guu16q5v44srk09rin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191013600140-gf2mo2242cif36guu16q5v44srk09rin</string>
	<key>API_KEY</key>
	<string>AIzaSyBF6jKanoK60F2KD3cdRaGjPw3lZwSFBuw</string>
	<key>GCM_SENDER_ID</key>
	<string>191013600140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoAppElred</string>
	<key>PROJECT_ID</key>
	<string>todoappelred</string>
	<key>STORAGE_BUCKET</key>
	<string>todoappelred.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191013600140:ios:1a2d3c0a577746e6d5f4a9</string>
</dict>
</plist>